/* HomePage.css */
.home-page {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
  }
  
  .custom-title {
    font-family: 'Roboto', sans-serif; /* Use the imported font */
    /* Add other custom styles as needed */
  }
  

  